<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include "Adminview/admin_menu.html" %}
<h1 style="font-size:3vw"; align="center" ><font color="#2f4f4f">Users Need For Approval</font></h1>
{% if object_list %}
    <table align="center" border="2">
        <tr>
            <th width="30"></th>
            <th width="100">EMPLOYEE_ID</th>
            <th width="100">USERNAME</th>
            <th width="100">PASSWORD</th>
            <th width="100">ADDRESS</th>
            <th width="100">EMAIL</th>
            <th width="100">CONTACT</th>
            <th width="100">DOB</th>
            <th width="100">COMPANY_NAME</th>
            <th width="100">STATUS</th>
            <th width="100">ACCEPT</th>
            <th width="100">REJECT</th>
        </tr>
        {% for x in object_list%}
            <tr>
                <form action="/accept/" method="post">
                    {% csrf_token %}
                    <th width="30"><input type="checkbox" name="status" value="checked" required></th>
                    <th width="100">{{ x.employee_id }}</th>
                    <th width="100">{{ x.username }}</th>
                    <th width="100">{{ x.password }}</th>
                    <th width="100">{{ x.address }}</th>
                    <th width="100">{{ x.email_id}}</th>
                    <th width="100">{{ x.contact_no }}</th>
                    <th width="100">{{ x.date_of_birth }}</th>
                    <th width="100">{{ x.company_name }}</th>
                    <th width="100">{{ x.status }}</th>
                    <input type="hidden" name="idno" value="{{ x.employee_id }}">
                    <input type="hidden" name="name" value="{{ x.username }}">
                    <input type="hidden" name="password" value="{{ x.password }}">
                    <input type="hidden" name="address" value="{{x.address }}">
                    <input type="hidden" name="email" value="{{ x.email_id }}">
                    <input type="hidden" name="contact" value="{{ x.contact_no }}">
                    <input type="hidden" name="compname" value="{{ x.company_name }}">
                    <th><button type="submit">Yes</button></th>
                </form>
                    <th>
                <form action="/reject/" method="post">
                    {% csrf_token %}
                    <button type="submit">Yes</button>
                    <input type="hidden" name="idno" value="{{ x.employee_id }}">
                    <input type="hidden" name="name" value="{{ x.username }}">
                    <input type="hidden" name="password" value="{{ x.password }}">
                    <input type="hidden" name="address" value="{{x.address }}">
                    <input type="hidden" name="email" value="{{ x.email_id }}">
                    <input type="hidden" name="contact" value="{{ x.contact_no }}">
                    <input type="hidden" name="compname" value="{{ x.company_name }}">
                </form>
                    </th>
            </tr>
        {% endfor %}
    </table>
{% else %}
<h2 align="center"><font color="#fa8072"> No User Available</font></h2>
{% endif %}
</body>
</html>