<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include "Adminview/admin_menu.html" %}<br>
<h1 style="font-size:3vw"; align="center" ><font color="#2f4f4f">View  User Matrimonial</font></h1>
{% if object_list %}
<table align="center" border="2" bgcolor="#708090">
    <tr bgcolor="#fa8072" height="30">
        <th width="100">BRIDE/BRIDEGROM_NAME</th>
        <th width="100">GENDER</th>
        <th width="100">DATE OF BIRTH</th>
        <th width="100">DESCRIPTION</th>
        <th width="100">CONTACT_NO</th>
    </tr>
    {% for x in object_list %}
        <tr height="30">
        <th width="100">{{x.bride_or_bridegromname}}</th>
        <th width="100">{{ x.gender}}</th>
        <th width="100">{{ x.date_of_birth}}</th>
        <th width="100">{{ x.description}}</th>
        <th width="100">{{ x.contact_no}}</th>
        </tr>
    {% endfor %}
</table>
{% else %}
<h3 align="center"><font color="#8a2be2">No Information Available</font> </h3>
{% endif %}
</body>
</html>